<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ScrumApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">



</head>
<body>
    <div class="full-height">
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3" style="padding-bottom: 0px; padding-top: 0px;">
                <div class="container-fluid">
                    <a class="nav-item text-dark" asp-area="" asp-route-userSlug="" asp-route-projectSlug="" asp-route-boardSlug="" asp-controller="Projects" asp-action="Index"><i class="fa fa-home"></i> ScrumApp</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">

                        @if (User.Identity.IsAuthenticated)
                        {

                        <ul class="navbar-nav flex-grow-1 justify-content-sm-end">


                            @if (User.IsInRole("Admin"))
                            {
                                <li class="nav-item">
                                    
                                </li>
                            }

                            @using Microsoft.AspNetCore.Identity
                            @using ScrumApp.Models
                            @inject UserManager<AppUser> userManager


                            @{
                                var user = await userManager.FindByNameAsync(User.Identity.Name);
                            }

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <img src="/media/Users/@user.ProfilePicture" width="40" height="40" class="rounded-circle" style="border:solid white 4px">
                                </a>
                                <div class="dropdown-menu dropdown-menu-lg-right dropdown-secondary" aria-labelledby="navbarDropdownMenuLink-55">
                                    <a class="dropdown-item text-dark" asp-route-userSlug="" asp-route-projectSlug="" asp-route-boardSlug="" asp-controller="Account" asp-action="Logout">Logout</a>
                                    <a class="dropdown-item" href="#">Edit profile</a>
                                </div>
                            </li>
                        </ul>
                        }
                        else
                        {
                        <ul class="navbar-nav flex-grow-1 justify-content-sm-end">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
                            </li>
                        </ul>
                        }

                    </div>
                </div>
            </nav>
        </header>
        @RenderSection("outOfContainer", required: false)
        <div class="container-fluid" style="height:88%">
            <main role="main" class="pb-3 full-height">
                <partial name="_NotificationPartial" />
                @RenderBody()
            </main>
        </div>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jqueryui/jquery-ui.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
