@model ScrumApp.Models.CreateStory

<div class="row" >
    <div class="col-md-12 story-form-container">
        <form asp-controller="Story" asp-action="Create">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="BoardColumnId" value="@Model.BoardColumnId" />

            <div class="form-group">
                <input asp-for="StoryTitle" class="form-control" placeholder="Story title" />
                <span asp-validation-for="StoryTitle" class="text-danger"></span>
            </div>

            <textarea id="title-filed" asp-for="StoryDescription" class="form-control" placeholder="Story detailed description"></textarea>

            <div class="form-group create-story-form" style="margin-bottom:0">
                <input type="submit" value="Create" style="font-weight: 600;" class="btn btn-start-order" /> <span class="button-separator">|</span>
                <a style="cursor:pointer;" id="close_form_@Model.BoardColumnId" class="btn btn-start-order">Close</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
