@model ScrumApp.Models.Project
@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1 class="display-4">No Boards</h1>
    <p>To create a board click <a asp-route-userSlug="@Model.Author.UserName" asp-route-projectSlug="@Model.Slug" asp-controller="Board" asp-action="Create">here</a></p>
</div>