/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.dropdown-toggle::after{
    color:black!important;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.remove-column {
    float: right;
    color: #343a40 !important;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
  height:100%;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    height: 100%;
    /*background-color: #FAFAFA;*/
    background-color:white;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}


/*test css*/

.container-fluid{
    width: 95%;
}
td.c1 {
    font-weight: 600;
}
td.c1.inTable a{
    color:#212529;
}

.second-nav {
    margin-top: -1rem !important;

}
.second-nav a {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

#create-board {
    color: #343a40 !important;
    padding-left: 20px;
    font-weight: 600;
}

.no-stack {
    overflow-x: auto;
    flex-wrap: nowrap;
}

.full-height{
    height:100%;
}




/*
::-webkit-scrollbar-track {
    background: rgba(0,0,0,.03);
}
::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb {
    background-color: #D3D3D3;
    padding-left:10px;
    border: 3px solid rgba(0,0,0,.03);
}
*/


.ui-state-highlight {
    border: 1px dashed #ccc;
    margin-bottom:1rem;
}

.card-header {
    cursor: pointer;
    background-color: transparent;
    border-bottom:none;
}

.hide{
    display:none;
}


.active {
    font-weight: 600;
}

.story-style {
    border-radius: 0 !important;
    box-shadow: 0 1.6px 3.6px 0 #E0E0E0;
}
.inner-column-style {
    padding-top: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.column-style {
    background-color: transparent;
    border:0;
}
.ui-sortable-handle {
    background-color: transparent;
    border-bottom: 0;

}
#draggable {
    padding-top: 0;
    padding-left: 0;
}
.tt {
    top: 0;
    right: 0;
    position: absolute;
    padding-right: 5px;
    display: none;
}
.card-body{
    padding:1rem;
}
.card-title{
    margin-bottom:0;
}
.fas{
    font-size: .8rem;
}
h6 {
    font-size: .8rem;
}

.user-avatar {
    display: inline-block;
    float: inherit;
    width: 1.7rem;
    height: 1.7rem;
    border-color: grey;
    border-width: 1px !important;
    border-style: solid;
    line-height: 36px;
    border-radius: 50%;
    background-size: cover;
    font-weight: 100;
    font-size: 18px;
    text-align: center;
    text-shadow: 0 0 2px rgba(0,0,0,.9);
    color: white;
}



.material-icons {
    margin: 0.1rem;
    color: lightgrey;
    float: right;
    font-size: 1.8rem !important;

}




.material-icons:hover {
    color: grey;
}

hr{
    margin:0!important;
}

.story-profil-img {
    margin: 0.1rem !important;
    border-radius: 50%;
    float: right;
    border: solid 2px white;
    height: 1.8rem;
    width: 1.8rem;
    background-color:white;
}

.img-offset {
    position: relative;
    left: 1.2rem;
}


.popup {
    background-color: white;
    margin: 0rem 0rem;
    margin-right:1rem;
    width: 30rem;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    right: 0;
    z-index: 900;
    box-shadow: 0 1.6px 3.6px 0 #E0E0E0;
    border: 1px solid rgba(0,0,0,.125);
    /*   box-shadow: 0 1.5rem 0 0.5rem PaleVioletRed; */
}

.sb-textfield {
    position: relative;
    margin: 1rem;
    margin-left:0;
    margin-right:0;
    margin-bottom:0;
    background-color: white;
    /*border: 1px solid rgba(0,0,0,.125);
    box-shadow: 0 1px 1px rgba(0,0,0,.1);*/
    border: none;
    border-bottom: solid lightgrey 1px;
    height: 2.5rem;
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
}
.popup-container {
    width: 95%;
    margin: auto;
}

.sb-textfield:focus {
    outline: none;
}

#add-email {
    margin-top: 0.4rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
    font-size: .85em;
}
#submit-email-invitation {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border: none;
    color: white;
    display: inline-block;
    background-color: #19698C;
    border-color: #384B64;
    padding: 4px 10px;
    border-radius: 3px;
}


.button-as-text {
    background-color: white;
    border: none;
    padding: 0 !important;
}


.underline-input {
    border-radius: 0;
    border-color: darkgray;
    border-width: 0 0 1px 0;
    border-style: none none solid none;
    box-shadow: none;
    background-color: transparent;
    color: #343a40 !important;
}

.form-control:focus {
    box-shadow: none;
    border-color: #19698C;
    background-color: transparent;
}

.btn-start-order {
    background: 0 0 #FAFAFA;
    border: none;
    border-radius: 2px;
    margin: 5px 0;
    padding: 2px 5px;
    transition: all 0.25s ease 0s;
    color: #343a40 !important;
    font-weight:600;
      
}

.btn-start-order:hover, .btn-start-order:active, .btn-start-order:focus {
    border-color: #19698C !important;
    color: #19698C !important;
}

.form-group {
    margin-bottom: .5rem;
}

.button-separator {
    color: #19698C;
}

/*
.home-container {
    background-color: red;
    width: 75%;
    height: 100%;
    border: 1px solid black;
    margin: auto;
    overflow:auto;

}

.pair{
    background-color:blue;
    height:100px;
    width:100%;

}

.cell{
    width:48%;
}

.left-cell{
    float:left;
    background-color:green;
    position:relative;
    
}
.right-cell {
    background-color: yellow;
    float: right;
    position:relative;
}
    */

.title-font {
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 1.2;
}

.nav-button {
    color: white !important;
    padding-left: 20px!important;
    padding-right: 20px!important;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: inset 0 0 0 2px white;
    border-radius: 5px;
    font-weight: 500;
    margin-left:1rem;
}

.index-top {
    background: linear-gradient(135deg, #19698C, #2C96C4);
}




.index-bot {
    background: linear-gradient(white, #D8E5EB);
}

.index-btn {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    position:relative;
    font-weight: 500;
    margin-top:1rem;
}
.index-btn:hover {
    text-decoration: none;
}

.theme-bg {
    background: #1b6c90;
}

.color-white{
    color:white!important;
}

.social-media {
    color: white;

}